body{
    font-family: 'Montserrat', sans-serif;
}

p, li{
    color: #475550;
}

h1, h3{
    color: #11a36a;
}

.trybe-green{
    color: #11a36a;
}

.hero-title{
    font-size: 45px;
    line-height: 55px;
    font-weight: 600;
}

.market-heading{
    font-size: 28px;
    line-height: 42px;
    font-weight: 600;
}

.picture{
    border-radius: 100%;
}

.student-testimonial-name{
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}

.button{
    background-color: #11a36a;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    padding: 15px 30px;
    border-radius: 4px;
    text-decoration: none;
}